* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

body {
  display: flex;
  background-color: rgb(127, 129, 255);
}

h1 {
  font-size: 4.8rem;
  color: white;
  margin-bottom: 5rem;
}

.titulo-inicio{
  font-size: 4.8rem;
  color: black;
  margin-bottom: 5rem;
  background-color: #aaaaaa9f;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
}
.contenedor-inicio{
  background-image: url(/img/8.png);
  background-size:contain;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

.name{
  border: 3px solid black;

}

.contenedor {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-content {
  justify-content: center;
}
.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.btn {
  font-size: 2.4rem;
  font-weight: 600;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
  border-radius: 4rem;
}
.again{
  background-color: #fff;
  border: 3px solid rgb(255, 0, 0);
}

.home{
  background-color: #fff;
  border: 3px solid rgb(0, 35, 189);
}

.end-form-contenedor .save{
  background-color: #fff;
  border:3px solid green;

}

.start{
  background: #fff;
  border: 4px rgb(68, 216, 68) solid;
}

.score{
  background: #fff;
  border: 4px rgb(250, 247, 63) solid;
}

.start:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgb(68, 216, 68, 0.5);
}

.score:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgb(250, 247, 63, 0.5);
}

.btn:hover {
  cursor: pointer;
  transition: transform 150ms;
  transform: scale(1.03);
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

#icon{
  font-size: 2.4rem;
  margin-left: 1rem;
}

/*Final*/

.end-form-contenedor{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
}

input{
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;

}

input::placeholder{
  color: #aaa;
}

#username{
  margin-bottom: 3rem;
  width: 100%;
  outline: none;
}

#end-text{
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
}

